body {
  text-align: center;
  color: turquoise;
}
.text:hover{
  margin: 10px;
  padding: 10px;
  animation-name: background-color;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

button:hover{

  animation-name: background-color;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
@keyframes background-color {
  100% {
    background-color: turquoise;
  }
}

.data{
  background-color: teal;
  
}
.ui{
  list-style: none;
  color: black;
}